.profile-page {
  padding: 20px;
}

.profile-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.profile-info h6 {
  font-weight: bold;
}

.profile-info p {
  color: #6c757d;
}


